In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Paths
root_p = '/home/surchs/sim_big/PROJECT/abide_hps/'
# Pheno
abide1_p = os.path.join(root_p, 'pheno', 'abide_1_complete.csv')
# Data
ct_p = os.path.join(root_p, 'ct')
fc_p = os.path.join(root_p, 'fc')
# File templates
ct_t = '{}+{:07}_{}+{}_native_rms_rsl_tlaplace_30mm_left.txt'
fc_t = 'fmri_{:07}_session_1_run1.nii.gz'
# Out_path
strict_p = os.path.join(root_p, 'pheno', 'ABIDE_STRICT.csv')
soft_p = os.path.join(root_p, 'pheno', 'ABIDE_SOFT.csv')

In [3]:
pheno = pd.read_csv(abide1_p)

In [4]:
# Find available data
sub_ind_soft = [row['ct_available'] 
                   and row['fc_available'] 
                   and row['Ratings'] > 1 
                   and not row['status']=='Fail'
                   for rid, row in pheno.iterrows()]

sub_ind_strict = [row['ct_available'] 
                  and row['fc_available'] 
                  and row['Ratings'] > 2 
                  and row['status']=='OK'
                  for rid, row in pheno.iterrows()]

In [5]:
np.sum(sub_ind_soft)

831

In [6]:
np.sum(sub_ind_strict)

184

In [7]:
soft = pheno[sub_ind_soft]
strict = pheno[sub_ind_strict]

In [8]:
soft.groupby('DX_GROUP')['Site'].value_counts()

DX_GROUP  Site
Autism    NYU         72
          USM         46
          OHSU        36
          UCLA_1      35
          Pitt        25
          Trinity     20
          KKI         19
          Leuven_1    14
          Leuven_2    14
          UM_1        14
          SBL         13
          Yale        13
          Olin        11
          Caltech      9
          UCLA_2       9
          CMU_b        8
          CMU_a        6
          MaxMun_a     6
          MaxMun_b     6
          SDSU         5
          MaxMun_d     4
          MaxMun_c     1
          Stanford     1
          UM_2         1
Control   NYU         96
          USM         41
          OHSU        33
          KKI         31
          UCLA_1      30
          UM_1        27
          Trinity     24
          Pitt        21
          SDSU        18
          Caltech     16
          Leuven_2    15
          Leuven_1    13
          MaxMun_a    12
          Olin        11
          MaxMun_c    10
          SBL         10
          UCLA_2       9
          CMU_a        7
          UM_2         5
          CMU_b        4
          MaxMun_d     4
          Stanford     3
          Yale         3
Name: Site, dtype: int64

In [9]:
# Find sites that have at least 4 of ASD and TDC each
good_sites = ['NYU', 'USM', 'OHSU', 'UCLA_1', 'Pitt', 'Trinity', 'KKI', 'Leuven_1', 'Leuven_2', 'UM_1', 'SBL', 'Olin', 'Caltech']

In [10]:
soft_ind = [True if row['Site'] in good_sites else False for rid, row in soft.iterrows()]

In [11]:
soft_sample = soft[soft_ind]

In [12]:
soft_sample.shape

(696, 96)

In [14]:
strict.groupby('DX_GROUP')['Site'].value_counts()

DX_GROUP  Site
Autism    NYU         25
          Trinity     13
          KKI         11
          UCLA_1       8
          OHSU         6
          Leuven_1     4
          Olin         4
          CMU_a        2
          Caltech      1
          Leuven_2     1
          SDSU         1
          UCLA_2       1
          USM          1
Control   NYU         38
          KKI         24
          Trinity     11
          UCLA_1       9
          SDSU         8
          USM          5
          Leuven_1     4
          OHSU         3
          UCLA_2       2
          CMU_a        1
          Leuven_2     1
Name: Site, dtype: int64

In [15]:
# Find sites that have at least 4 of ASD and TDC each
strict_sites = ['NYU', 'USM', 'OHSU', 'UCLA_1', 'Trinity', 'KKI', 'Leuven_1']

In [16]:
strict_ind = [True if row['Site'] in good_sites else False for rid, row in strict.iterrows()]

In [17]:
strict_sample = strict[strict_ind]

In [18]:
strict_sample.shape

(169, 96)

In [19]:
# Save that stuff
soft_sample.to_csv(soft_p, index=False)
strict_sample.to_csv(strict_p, index=False)